*{
    margin: 0;
    padding: 0;
}
/* Sharing Codes Here  */
.font-inter {
  font-family: "Inter", system-ui, sans-serif;
}
.btn-for-all{
    background-color: #30B868;
    color: white;
    width: 164px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    padding: 12px 16px 12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-for-all:hover {
    background-color: #8C34EB;
    color: #fff;
    box-shadow: 0 8px 18px rgba(42, 52, 83, 0.745);
}
/* nav bar styles */
#menu{
    /* width: 71%; */
    /* max-width: 1140px; */
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px 30px 120px;
}
#menu .menu-container .menu-items ul{
    display: flex;
    list-style: none;
}
.menu-option{
    font-size: 20px;
    font-weight: 600;
    gap: 32px;
}
.menu-option a{
    color: black;
}
.menu-option li a {
    text-decoration: none;
}
.menu-option li:hover {
    text-decoration:overline;
    color: rgba(148, 44, 154, 0.643);
    transition: 5ms;
}

/* hero section style here  */
#hero-banner {
    position: relative;
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}
#hero-banner .early-access img{
    width: 16px;
    border: 2px solid #30B868;
    border-radius: 50%;
}
#hero-banner .early-access{
    background-color: whitesmoke;
    width: 229px;
    margin: 0 auto;
    border-radius: 150px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 8px 12px 8px 12px;
    gap: 6px;
    margin-bottom: 16px;
}
.early-access-text{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.hero-heading h1{
    color: rgba(255, 255, 255, 1);
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}
.hero-heading-span{
    color: rgba(48, 184, 104, 1);
}
.hero-heading p{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}
.hero-btn{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}
.btn-alignment{
    display: flex;
    justify-content: center;
    align-items: center;
}
.vault-start-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #30B868;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  padding: 16.5px 46px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 16px;
}
.vault-start-btn:hover{
    background-color: #8C34EB;
    color: #fff;
    box-shadow: 0 8px 18px rgba(42, 52, 83, 0.745);
}
.vault-show-btn{
     display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  padding: 16.5px 46px 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 16px;
}
.vault-show-btn img{
    width: 20px;
}
.vault-show-btn:nth-child(2) {
  flex-direction: row-reverse;
}
.vault-show-btn:hover{
     background-color: #f02020;
    color: #fff;
    box-shadow: 0 8px 18px rgba(5, 53, 198, 0.745);
    border: none;
}
#structure{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 80px 120px;
}
.structure-heading{
   font-size: 48px;
   font-weight: 700;
   line-height: 58px;
   color: #001931;
   margin-bottom: 16px;
}
.structure-para{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}
/* Card design  */
.card-details{
     display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;
  max-width: 1400px;
  margin: 0 auto;
}
.card-info{
    width: 320px;
    height: 250px;
  padding: 24px;
  border-radius: 8px;
background-color: #ffffff;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
margin-bottom: 30px;
}
.card-info img{
background-color: red;
margin-top: 20px;
border-radius: 50%;
padding: 15px;
width: 40px;
margin-bottom: 16px;
}
.card-info h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #001931;
    margin-bottom: 16px;
}